*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cascadia Code', sans-serif;
}

body {
    background: #081b29;
    color: whitesmoke;
    background-size: cover;
    background-position: center;
}

.header {
    background-color: #081b29;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    color: #fff;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-left: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #00abf0;
}

.home {
    height: 100vh;
    background: url();
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before,
.home-content h3::before,
.home-content p::before,
.home-content .btn-box::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
}

.home-content h1::before {
    animation-delay: 1s;
}

.home-content h3::before {
    animation-delay: 1.3s;
}

.home-content p::before {
    animation-delay: 1.6s;
}

.home-content .btn-box::before {
    animation-delay: 1.9s;
    z-index: 2;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content a {
    color: orange;
}

.photo {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin: 20px auto;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: transform 0.5s;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #00abf0;
    z-index: -1;
    transition: 0.5s;
}

.home-sci a:hover::before {
    width: 100%;
}

@keyframes showRight {
    100% {
        width: 0;
    }
}

.skills-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-list li {
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.skills-list li:hover {
    transform: translateY(-5px);
}

.progress-bar {
    height: 20px;
    background-color: #ddd;
    border-radius: 5px;
    margin: 10px 0;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #4caf50;
    transition: width 0.3s ease-in-out;
}

.progress-label {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.photo-grid img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.photo-grid img:hover {
    transform: scale(1.05);
}

.enlarged-image {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: none;
    align-items: none;
    z-index: 1000;
}

.enlarged-image img {
    max-width: 90%;
    max-height: 90%;
}

.contact-info p {
    text-align: center;
    margin-bottom: 10px;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-links a {
    font-size: 24px;
    color: #fff;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #00abf0;
}

section {
    text-align: center;
    padding: 50px 0;
}
.about{
max-height: 1200px;
max-width: 600px;}
.education {
max-height: 1200px;
max-width: 600px;}

.br {
max-height: 1200px;
max-width: 600px;}

.education,    
.about,
.hobbies-details {
    max-width: 600px;
    max-height: 1200px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.education-details h2,
.about-details h2,
.hobbies-details h2 {
    margin-top: 0;
}

.education-details p,
.about-details p,
.hobbies-details p {
    margin-bottom: 20px;
}

.education-details ul,
.about-details ul,
.hobbies-details ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.education-details ul li,
.about-details ul li,
.hobbies-details ul li {
    margin-bottom: 10px;
}

. education,.hobbies-details li:before {
    content: '\25CF';
    color: black;
    margin-right: 10px;
    }
